#swipe {
	display: none;
}
.info {
	display: none;
}
#base-select {
	display: none;
}
.share {
	display: none;
}
.menuContainer {
	display: none;
}
.zoomer {
	display: none;
}
#printpage {
	display: none;
}
.layer-switcher {
	display: none;
}