<div class='menuContainer localScroll'>
  <ul>
    <li class='navigation_item'><div class='button'><a class='white {% if page.url == "/progress" %} active{% endif %}' href='{{site.baseurl}}/progress'><span class='progress'>Our Work</span></a></div></li>
    <li class='navigation_item'><div class='button'><a class='white {% if page.url == "/proposal" %} active{% endif %}' href='{{site.baseurl}}/proposal'><span class='activities'>Where to Reforest?</span></a></div></li>
    <li class='navigation_item'><div class='button'><a class='white {% if page.url == "/vegetation" %} active{% endif %}' href='{{site.baseurl}}/vegetation'><span class='veg'>Vegetation Mapping</span></a></div></li>
    <li class='navigation_item'><div class='button'><a class='white {% if page.url == "/prevention" %} active{% endif %}' href='{{site.baseurl}}/prevention'><span class='activities'>Wildfire Management</span></a></div></li>
    </ul>
    <div id="info_tooltip">Describes the nationally distributed sites reforested by LRI starting Fall 2011, the source and type of species planted in each site as well as their survival rates.</div>
</div>
<div id='base-select'>
    <ul class='bottomlayer'> 
        <li><a class='first' id='lri.map-0jf0f7h2' class='satellite_terrain' href='#'>Terrain</a></li>
        <li><a class='second active' id='lri.LebanonBorders' class='satellite_terrain' href='#'>Borders</a></li>
        <li><a class ='last'id='lri.map-ncm30knn' href='#' class='satellite_terrain'>Satellite</a></li>
    </ul>
</div>
<script>
function printpage()
  {
  window.print()
  }
</script>
